.main-logo{
    width: 10%;
    border: solid 1px #292f42;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 5%;
}

.lf{
    display: flex;
    justify-content: center;
    align-items: center;

}

.it{
    padding: 1rem;
    border-radius: 1rem;
    border: solid;
    margin-top: 1rem;
    width: 20%;
} 
.btn-it{
    padding: 1rem;
    border-radius: 1rem;
    border: solid;
    background-color: #292f42;
    margin-top: 1rem;
    width: 5%;  
    color: white;
    cursor: pointer;
}


button :hover {
    background-color: #5e77b2;
}